body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
.header-bg {
  background-color: black;
}
.header {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  padding: 12px;
  color: white;
  display: inline-block;
  font-size: 18px;
}
.header-menu a:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  margin-top: 4px;
  transition: 0.3s;
}
.header-menu a:hover:after {
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: #292828;
    border-radius: 4px;
    padding: 10px 6px;
  }
  .header-menu a:hover {
    background-color: #5e5d5d;
  }
}
